:root {
    --primario:#38c7f7ef;
    --primarioObs: #2083e6;
    --secundario: #121b6e;
    --SecundarioObS: #72b1f0;
    --blanco: #fff;
    --negro: #000;

    --fuentePrimaria: font-family: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change 
Paul Irish en todos los proyectos*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Globales*/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrimaria);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/*Header*/
.haeder {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}

/*Footer*/
.footer {
    background-color: var(--primarioObs);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: 'Staatliches', cursive;
    font-size: 2.2rem;
    text-align: center;
}

/*navegacion*/
.navegacion {
    background-color: var(--primarioObs);
    padding: 1rem 0;
    display: flex;
    justify-content: center; 
    /*gap: 2rem; Separacion forma nueva*/
}
.navegacion__enlace {
    font-family: 'Staatliches', cursive;/*font-family: var(--fuente);*/
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem; /* separacion forma antigua*/
}
.navegacion__enlace:last-of-type { /*selecciona el ultimo para centrar*/
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/*grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
 @media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*productos*/
.producto {
    background-color: var(--primarioObs);
    padding: 1rem;
}
.producto__imagen {
    width: 100%; /*hacer imagenes responsivas*/
}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre, 
.producto__precio {
    font-family: 'Staatliches', cursive;
    margin: 1rem;
    text-align: center;
    line-height: 1.2; /*interlineado*/
}

/*graficos*/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3; /*evita repeticion de codigo si sigue las mismas reglas*/
} /*acomodar imagenes en lugares especificos*/
.grafico--camisa {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}
@media (min-width: 768px) {
    .grafico--node {
        grid-row:5 / 6;
        grid-column: 2/4;
    }
}

/*nosotros*/
.nosotros {
    display: grid;
    grid-template-rows: repeat (2, auto);
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: 50% 50%;
        column-gap: 2rem;
    }
}
.nosotros__contenido {
    text-align: center;
}
.nosotros__imagen {
    grid-row: 1/2;
    width: 100%;
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2/3;
    }
}
/*titulos*/
.bloque__titulo,  .comprar__titulo,
.contenedor__titulo
{
    font-family:Arial, Helvetica, sans-serif;
}

/*Bloques*/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}
.bloque {
    text-align: center;
}
.bloque__imagen {
    width: auto;
}
.bloque__titulo {
    margin: 0;
}

.contenedor2 {
    max-width: 105rem;
    margin: 0 auto;
}
/*pagina producto*/
/*foto del producto lado izquierdo --- descripcion y formulario lado derecho*/
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        display: flex;
        align-items: center;
    }
}
.camisa{
    text-align: center;
}
.camisa__imagen {
    width: 90%;
}
.formulario {
    font-family: 'Staatliches', cursive;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem  ;
}
.formulario__campo {
    /* border-color: var(--primarioObs); bordo de un cuadro --- color
    border-width: 1rem; tamaño del bordo
    border-style: solid; estilo --- solido
    se puede reducir a una linea con la estructura --- tamaño - estilo - color*/
    border: 1rem solid var(--primarioObs);
    background-color: transparent;
    color: var(--negro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    appearance: none; /*elimina la flecha de los formularios*/
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease; /*transicion animada del cuadros*/
    grid-column: 1/3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--SecundarioObS);
}